registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/
//jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:_authToken=${secrets.ARTIFACTORY_API_TOKEN}

@mycompany:registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/
//jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:_authToken=${secrets.ARTIFACTORY_API_TOKEN}
